.calendar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  border: 0.1px solid #0000003a;
}
.calendar-container .days-table {
  table-layout: fixed;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: center;
}

.task-container {
  width: fit-content;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  border: 0.1px solid #0000003a;
}

.addtask-container {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
  border: 0.1px solid #0000003a;

  & label {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    & input {
      min-width: 150px;
      min-height: 30px;
    }
  }
}
